*{
    background-color: #000000; color: #fffff0; box-sizing: border-box; font-family: 'Courier Prime', monospace;
}
a:hover{
    text-decoration: none!important; color: #376996!important;
}
.container-fluid{
    width: 100%; padding: 0; overflow: hidden;
}

/*  Custom Scrollbar  */

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #333634; 
}
::-webkit-scrollbar-thumb {
    background: #000000; border-radius: 25%;
}



/* Navbar  */

.nav{
    width: 100%; background-color: #fffff0;
}
.nav-item {
    background-color: #fffff0; font-size: 1.3rem; font-weight: bold;
}
.navbar-brand{
    background-color: #fffff0;
}
.navbar{
    background-color: #fffff0;
}


/* Search bar */

.search{
    width: 100%; padding: 2%; text-align: center;
}
.search-bar{
    text-align: center; width: 50%;
}

/* footer */

#section_footer_2{
    margin-top: 1rem;
}

/* Index & Watchlist */

.slide{
    overflow: hidden;
}
.owl-carousel{
    width: 95%; margin: 0 auto;
}
.index{
    width: 95%; margin: 0 auto;
}
.card{
    text-align: center; border: none;
}
.card-link{
    font-size: 14px;
}
.card-title{
    font-size: 16px;
}
.card-text{
    margin-top: 1rem;
}
.chart{
    padding: 2%;
}
.news{
    padding: 2%; height: 70vh; overflow-y: scroll; 
}
.card-header{
    background-color: #000000;
}
.newscard{
    text-align: left;
}
#tradingview_57ccb-wrapper{
    width: 100%;
}

/* Earnings Table */

.earningtable{
    padding: 2% 4% ; height: 50vh; overflow-y: scroll; 
}

/* Economic Calendar table */

.economic-calender{
    padding: 2% 2% 4% 1%; height: 50vh; overflow-y: scroll; background-color: #000000;
}
.list-group-item{
    background-color: #000000;
}
.list-group-item:hover{
    background-color: #000000;
}

/* stock page CSS */

/* stock image on each page. */

.stock-img{
    border-radius: 50%;
}
.media{
    margin-bottom: 1.5rem;
}
.eachEarning{
    padding: 2%; height: 50vh; overflow-y: scroll; 
}
.filings{
    padding: 2%; height: 50vh; overflow-y: scroll; 
}
.filing-list{ 
    font-size: 1.5rem;
}
.midsec{
    margin-top: 2rem;
}
.price{
    text-align: center;
}
.quotes{
    line-height: 50px;
}

/* Form CSS */

.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
.g-button{
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}
.my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
}
.header-title{
    margin: 5rem 0;
}
h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:#4c5357;
}
h2{
    color: #5e8396;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
}
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
@media screen and (max-width:480px){
h1{
    font-size: 26px;
}
h2{
    font-size: 20px;
}
}

.top-gainers{
    padding: 2% 5%;
}
.hide{
    display: none
}

